# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/
.venv/

# Environment variables (مهم جدًا)
.env

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# System files
.DS_Store

# Logs
*.log